<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				タイトル
			</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample8">
			<ul class="nav navbar-nav">
				<li><a href="#">メニューＡ</a></li>
				<li class="active"><a href="#">メニューＢ</a></li>
				<li><a href="#">メニューＣ</a></li>
			</ul>
			<p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
		</div>
	</div>
</nav>

<h1>Books</h1>


 <table>
   <thead>
   	<tr>
 		<th>title</th>
 		<th>opinion</th>
    </tr>
</thead>

 <tbody>
 	<% @book_all.each do |i| %>
	  <tr>
    <td><%= i.title %></td>
    <td><%= i.body %></td>
      <td><%= link_to "show", book_path(i.id) %></td>
 	  </tr>
     <% end %> 
 </tbody>
</table>


<%= form_for(@book) do |f| %>
<h3>New Book</h3>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>


<%= f.submit  'Create Books' %>
<% end %>



</body>
</html>
